h1 {
    color:black;
    font-family: 'Unna', serif;
    font-weight:10000;
    font-size: 45px;
    line-height: 1.2;
    font-style: bold;
    text-align:center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
  }
  